.cover {
  border: 1px solid #311b92;
  border-radius: 40px;
}

input {
  color: #311b92 !important;
  background: none !important;
  /* border: 1px solid #311b92 !important; */
}

textarea {
  color: #311b92 !important;
  background: none !important;
}

.text {
  color: #311b92 !important;
}

::placeholder {
  color: #311b92 !important;
}

.submits {
  background-color: #311b92 !important;
  color: white !important;
}

.submits:hover {
  background-color: white !important;
  border: 1px solid #311b92;
  color: #311b92 !important;
}

.bounce1 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid white;
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 190px;
}
